.header{
    background-color: black;
    display: flex;
    position: fixed; /* siempre se mantiene mientras scrolleamos */
    top: 0; /* Lo posiciona en la parte superior */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header img{
    width: 150px;
    height: 100px;
}
.contenedor-usuario{
    justify-content: end;
    align-items: center;
    display: flex;
    margin: 10px;
}
#desconectarse {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
#desconectarse a{
    text-decoration: none;
    text-decoration-line: none;
    font-weight: bolder;
    color: aquamarine;
}
#desconectarse a:hover{
    color: white;

}
footer{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
}
  

 